@model List<TCC.Models.Expense>

@{
    ViewData["Title"] = "Index";
}

@foreach (var expense in Model)
{
    <p>Id: @expense.Id</p>
    <p>UserId: @expense.UserId</p>
    <p>CategoryId: @expense.CategoryId</p>
    <p>AccountId: @expense.AccountId</p>
    <p>Value: @expense.Value</p>
    <p>Description: @expense.Description</p>
    <p>isDeleted: @expense.isDeleted</p>
    <p>CreationDate: @expense.CreationDate</p>
    <p>TransactionDate: @expense.TransactionDate</p>
    <p>------------------------------------------------</p>
}

