@model List<TCC.Models.Goal>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutWithNav";
}

@section Goals {
    <link rel="stylesheet" href="~/css/goals.css">
}

<div class="goals">
    <div id="goalsListDiv">
        <h1>Goals</h1>
        <div id="goalsList">
            <button class="card card-block" id="addGoal" onclick="add()">
                <span class="icon icon-add"></span>
                <a class="text-center" id="addGoalText">New goal</a>
            </button>
            @foreach(var goal in Model)
            {
                <div class="card card-block goal">
                    <div class="dropdown dropdown-options">
                        <a class="btn btn-link btn-sm" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon icon-nav-show-vertical icon-2x"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" onclick="edit(@goal.Id)"><span class="icon icon-pencil mr-1"></span> Edit</a>
                            <a class="dropdown-item" onclick="complete(@goal.Id)"><span class="icon icon-checked mr-1"></span> Complete</a>
                            <a class="dropdown-item" onclick="remove(@goal.Id)"><span class="icon icon-bin mr-1"></span> Delete</a>
                        </div>
                    </div>
                    <h3>@goal.Name</h3>
                    <div style="display: flex; justify-content: space-between; margin-bottom: 0.6rem;">
                        <div>
                            <h6>Deadline</h6>
                            <a>@goal.FinalDate.ToString("MM/dd/yyyy")</a>
                        </div>
                        <h2 style="margin-top: 1.4rem !important;">@(goal.CurrentBalance / goal.FinalBalance * 100)%</h2>
                    </div>
                    <progress class="progress" value="@(goal.CurrentBalance / goal.FinalBalance * 100)" max="100" aria-describedby="example-caption-1"></progress>
                    <div id="example-caption-1">R$ @goal.CurrentBalance of R$ @goal.FinalBalance</div>
                </div>
            }
        </div>
    </div>
</div>

<!-- New goal modal -->
<div class="modal fade" id="addGoalModal" aria-labelledby="addModalLabel" aria-hidden="true">
</div>

<!-- Edit goal modal -->
<div class="modal fade" id="editGoalModal" aria-labelledby="editModalLabel" aria-hidden="true">
</div>

<script>
    function add() {
        $.ajax({
            type: 'GET',
            url: '/Goals/Add',
            success: function (result) {
                $("#addGoalModal").html(result);
                $("#addGoalModal").modal();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    function remove(id) {
        $.ajax({
            type: 'DELETE',
            url: '/Goals/Delete',
            data: { id: id },
            success: function (result) {
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    function complete(id) {
        $.ajax({
            type: 'POST',
            url: '/Goals/Complete',
            data: { id: id },
            success: function (result) {
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    function edit(id) {
        $.ajax({
            type: 'GET',
            url: '/Goals/Edit',
            data: { id: id },
            success: function (result) {
                $("#editGoalModal").html(result);
                $("#editGoalModal").modal();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>