@using TCC.Views.Shared.Components

@model List<TCC.Models.Income>

@{
    ViewData["Title"] = "Incomes";
    Layout = "_ListTransactionsLayout";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="actions-container" style="display: flex; padding: 10px; justify-content: space-between; align-items: center;">
            <button class="btn btn-fab btn-secondary btn-lg text-success" id="btn-new-income" data-toggle="modal" data-target="#addOrEditTransactionModal" type="button"><span class="icon icon-add"></span></button>
            <span class="current-balance tag tag-simple" style="border: 1px solid; width: 150px; padding: 20px; font-size: 17px" id="current-balance"><a class="text-success">R$ 2,775.00</a></span>
            <button class="btn btn-fab btn-outline-secondary btn-lg" data-toggle="modal" data-target="#filterTransactionsModal" id="btn-filter" type="button">
                <span class="icon icon-content-filter"></span>
            </button>
        </div>

        <!-- New and edit modal -->
        <div class="modal fade" id="addOrEditTransactionModal" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            @Html.Partial("_AddOrEditTransactionModal", "income")
        </div>

        <!-- Filter modal -->
        <div class="modal fade" id="filterTransactionsModal" aria-labelledby="filterTransactionsModalLabel" aria-hidden="true">
            @Html.Partial("_FilterTransactionsModal", "income")
        </div>

        <div class="card card-block" style="background-color: #2C2C2E;">
            <table class="transactions-table table text-size-sm" style="color: white;">
                <div id="btn-change-month-div">
                    <button class="btn btn-outline-success" id="btn-change-month" type="button" data-toggle="collapse" data-target="#change-month-list" aria-expanded="false" aria-controls="collapseExample">
                        July 2022
                    </button>
                </div>
                <br>
                @Html.Partial("_FilterTransactionsByMonthModal", "income")

                <thead>
                    <tr>
                        <th style="width: 17.2%; color: white;">Date</th>
                        <th style="width: 17.2%; color: white;">Description</th>
                        <th style="width: 17.2%; color: white;">Category</th>
                        <th style="width: 17.2%; color: white;">Account</th>
                        <th style="width: 17.2%; color: white;">Amount</th>
                        <th style="width: 17.2%; color: white;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var income in Model)
                    {
                        <tr>
                            <td style="text-align: left">@income.TransactionDate.ToString("dd/MM/yyyy")</td>
                            <td style="text-align: left">@income.Description</td>
                            <td style="text-align: left">@income.Category</td>
                            <td style="text-align: left">@await Component.InvokeAsync(nameof(AccountName), income.AccountId)</td>
                            <td style="text-align: left" class="text-success">R$ @income.Value</td>
                            <td style="text-align: left">
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <button type="button" class="btn btn-secondary edit-btn" data-toggle="modal" data-target="#addOrEditTransactionModal" style="background-color: #2C2C2E; color: white;" title="Editar"><span class="icon icon-pencil"></span></button>
                                    <button type="button" class="btn btn-secondary delete-btn" style="background-color: #2C2C2E; color: white;" title="Deletar"><span class="icon icon-remove"></span></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/jscript">
    function getAccount(id) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/accounts/getaccountname?id=" + id, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                document.getElementById(id).innerHTML = xhr.responseText;
            }
        }
        xhr.send();
    }

    var tds = document.querySelectorAll(".accountId");

    tds.forEach(function (td) {
        getAccount(td.id);
    });
</script>