@model List<TCC.Models.Income>

@{
    ViewData["Title"] = "Index";
}

@foreach (var income in Model)
{
    <p>Id: @income.Id</p>
    <p>UserId: @income.UserId</p>
    <p>CategoryId: @income.CategoryId</p>
    <p>AccountId: @income.AccountId</p>
    <p>Value: @income.Value</p>
    <p>Description: @income.Description</p>
    <p>isDeleted: @income.isDeleted</p>
    <p>CreationDate: @income.CreationDate</p>
    <p>TransactionDate: @income.TransactionDate</p>
    <p>------------------------------------------------</p>
}

