@model List<TCC.Models.Income>

@{
    ViewData["Title"] = "Incomes";
    Layout = "_ListTransactionsLayout";
}

<div id="main-content">
    <div class="container-fluid">
        <br>
        <button class="btn btn-secondary btn-lg text-success" id="btn-new-income" data-toggle="modal" data-target="#addOrEditTransactionModal" type="button"><span class="icon icon-add"></span>   NEW INCOME</button>
        <a class="btn btn-secondary btn-lg" id="current-balance">R$ 2,775.00<span class="icon icon-up"></span></a>
        <a class="btn btn-{accent|primary|secondary} btn-fab btn-outline-secondary btn-lg" data-toggle="modal" data-target="#filterTransactionsModal" id="btn-filter" href="#" role="button">
            <span class="icon icon-content-filter"></span>
        </a>
        <br>
        <br>

        <!--New and edit modal-->
        <div class="modal fade" id="addOrEditTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalLabel" aria-hidden="true">
            @Html.Partial("_AddOrEditTransactionModal", "income")
        </div>

        <!--filter modal-->
        <div class="modal fade" id="filterTransactionsModal" tabindex="-1" role="dialog" aria-labelledby="filterTransactionsModalLabel" aria-hidden="true">
            @Html.Partial("_FilterTransactionsModal")
        </div>

        <div class="card card-block" style="background-color: #2C2C2E;">
            <table class="table text-size-sm" style="color: white;">
                <div id="btn-change-month-div">
                    <button class="btn btn-outline-success" id="btn-change-month" type="button" data-toggle="collapse" data-target="#change-month-list" aria-expanded="false" aria-controls="collapseExample">
                        July 2022
                    </button>
                </div>
                <br>
                @Html.Partial("_FilterTransactionsByMonthModal")

                <thead>
                    <tr class="">
                        <th style="color: white;">Date</th>
                        <th style="width: 200px; color: white;">Description</th>
                        <th style="color: white;">Category</th>
                        <th style="color: white;">Amount</th>
                        <th style="width: 200px; color: white;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var income in Model)
                    {
                        <tr>
                            <td>@income.TransactionDate.ToString("dd/MM/yyyy")</td>
                            <td>@income.Description</td>
                            <td>@income.Category</td>
                            <td class="text-success">R$ @income.Value</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addOrEditTransactionModal" style="background-color: #2C2C2E; color: white;" title="Editar"><span class="icon icon-pencil"></span></button>
                                    <button type="button" class="btn btn-secondary" style="background-color: #2C2C2E; color: white;" title="Deletar"><span class="icon icon-remove"></span></button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


                                